/* Styles for basic HTML elements (body, p, etc) */
body{
  background-color: #A9A9A9	;
  margin: 0px !important; /* reduces the chrome margin to the lowest it can go */
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
img{
  width: 25px;
  height: 25px;
  vertical-align: middle;
  display: inline;
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 2px;
}
a:hover{
  color: blue;
}
h4{
  text-decoration: none;
  display: inline-block;
  padding: 2px;
}
h4:hover{
  text-decoration: underline;
}
h3{
  text-align: center;
  color:white;
}

/* Styles for Classes */

/* Dealing with the popup itself */
.popUpDiv{
  width: 350px;
  height: 50px;
  background-color: inherit;
  transition: width 2s, height 3s;
}

/* Dealing with the offline message */
.offlineBox{ /* deals with the offline message box */
  text-indent: -1000em;
  width: 0px;
  height:0px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f25a41;
  margin: auto;
}
.offlineContainer{ /* container that holds the offline message */
  width: 0px;
  height: 0px;
  background-color: #A9A9A9	;
}

/* Dealing with the loading circle */
.loadingContainer{ /*contianer for the loading circle */
  display: none;
  background-color: #A9A9A9;
  overflow: hidden;
  z-index: 1;
}
.loading{ /* the loading circle */
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;
}
@keyframes spin { /* animation that the loading circle uses */
    from {
      transform: rotate(0deg);
    }to{
      transform: rotate(360deg);
    }
}

/* Dealing with the main menu */
.values{ /* Container for the menu */
  background-color: inherit;
  width: 100%;
  height: 100%;
}
.container{ /* Smaller container, holds the imgs and a tags */
  display: table;
  margin-right: auto;
  margin-left: auto;
}
.clicker{ /* What the user clicks on, in the main menu, to take a test */
  color: white;
  background-color: inherit;
}

/* Deals with the overley bar */
.bar{
  position: absolute;
  display: none;
  width: 100%;
  height: 40px;
  opacity: 0.9;
  z-index: 2;
}

/* Deals with the tests */
#_8iframe { /* 8values test */
  width: 0px;
  height: 0px;
  position: absolute;
  overflow-y: hidden;
}
#spekrIframe { /* spekr test */
  width: 0px;
  height: 0px;
  position: absolute;
  overflow-y: hidden;
}

/* Deals with the tooltip thats appears over the overlay bar  */
/* makes sure that the tooltip is where is should be */
[tooltip]{
  position: relative;
}
/* setting common attributes to the before and after pieces */
[tooltip]::before,
[tooltip]::after {
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
  /* opinions */
  text-transform: none;
  font-size: .9em;
}
/*the little triangle that is to the left of the tooltip */
[tooltip]::before {
  content: '';
  z-index: 1001;
  border: 5px solid transparent;
}

[tooltip]::after {
  content: attr(tooltip); /* the pseudo element should use the value of tooltip */
  z-index: 1000;

  font-family: Helvetica, sans-serif;
  text-align: center;

  /*
  Let the content set the size of the tooltips
  */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* visible design of the tooltip bubbles */
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
}

/* tooltips activated by hovering the mouse over the elment */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}
/* tells the browser that tooltip elements that do not have flow defined, right will be default for the before attribute */
[tooltip]:not([flow])::before,
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
/* same as above, but for the after attribute */
[tooltip]:not([flow])::after,
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}
/* applying keyframe animations to horizontal tooltips */
@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}
/* passing keyframes when a user hovers over the trggering elements */
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation:
      tooltips-horz
      300ms
      ease-out
      forwards;
}
